

.content {
    outline: black solid;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 700px;
    width: 500px;
    background-color: #1C1C1C;

}

.output {
    flex: 1 0 auto;
    display: flex;
    color: white;
    justify-content: end;
    align-items: flex-end;
    font-size: 90px;
    word-break: break-all;
    background-color: #505050;
    width: 500px;
    height: 20px;
    
}


.buttons {
    flex: 2 0 auto;
    display: flex;
    width: 500px;
    flex-wrap: wrap;


}

.btn, .num, .fc, .op {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.btn {
    flex: 1 1 auto;
    outline: black solid 1px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    background-color: #505050;
}

.fc {
    background-color: #D4D4D2;
    color: black;
}

.op, .eq {
    background-color: #FF9500;
}

.zero {
    width: 250px;
}

.buttons>:hover {
    filter: brightness(125%);
    cursor: crosshair;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}